USE [master]
GO
/****** Object:  Database [SYSTEM_BUS]    Script Date: 8/5/2022 4:11:58 PM ******/
CREATE DATABASE [SYSTEM_BUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SYSTEM_BUS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SYSTEM_BUS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SYSTEM_BUS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SYSTEM_BUS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SYSTEM_BUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SYSTEM_BUS]
GO
/****** Object:  Table [dbo].[BUSES]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BRAND] [varchar](50) NOT NULL,
	[MODEL] [varchar](50) NOT NULL,
	[LICENSE_PLATE] [varchar](50) NOT NULL,
	[COLOR] [varchar](20) NULL,
	[YEAR_] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRIVERS]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRIVERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_] [varchar](50) NOT NULL,
	[SURNAME] [varchar](50) NOT NULL,
	[BIRTH_DATE] [date] NOT NULL,
	[IDENTIFICATION_CARD] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOURNEY]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNEY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_] [varchar](50) NOT NULL,
	[DISTANCE] [nvarchar](20) NULL,
	[STOPS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIPS]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIPS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DRIVER] [int] NOT NULL,
	[ID_BUS] [int] NOT NULL,
	[ID_JOURNEY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BUSES] ON 

INSERT [dbo].[BUSES] ([ID], [BRAND], [MODEL], [LICENSE_PLATE], [COLOR], [YEAR_]) VALUES (1, N'Mercedes-Benz', N'R-322', N'FL-00203', N'Verde', N'2001')
INSERT [dbo].[BUSES] ([ID], [BRAND], [MODEL], [LICENSE_PLATE], [COLOR], [YEAR_]) VALUES (2, N'TOYOTA', N'Bty', N'NY-0R203', N'Azul', N'2004')
INSERT [dbo].[BUSES] ([ID], [BRAND], [MODEL], [LICENSE_PLATE], [COLOR], [YEAR_]) VALUES (3, N'BMW', N'X3-BURTN', N'DW-35203', N'ROJO', N'2017')
SET IDENTITY_INSERT [dbo].[BUSES] OFF
GO
SET IDENTITY_INSERT [dbo].[DRIVERS] ON 

INSERT [dbo].[DRIVERS] ([ID], [NAME_], [SURNAME], [BIRTH_DATE], [IDENTIFICATION_CARD]) VALUES (1, N'Roberto', N'Gomez', CAST(N'1980-08-02' AS Date), N'394002830-2')
INSERT [dbo].[DRIVERS] ([ID], [NAME_], [SURNAME], [BIRTH_DATE], [IDENTIFICATION_CARD]) VALUES (2, N'Felix', N'Oleo', CAST(N'1980-08-02' AS Date), N'694002830-2')
INSERT [dbo].[DRIVERS] ([ID], [NAME_], [SURNAME], [BIRTH_DATE], [IDENTIFICATION_CARD]) VALUES (3, N'Bob', N'Alex', CAST(N'1983-05-04' AS Date), N'394496830-2')
SET IDENTITY_INSERT [dbo].[DRIVERS] OFF
GO
SET IDENTITY_INSERT [dbo].[JOURNEY] ON 

INSERT [dbo].[JOURNEY] ([ID], [NAME_], [DISTANCE], [STOPS]) VALUES (1, N'Los Rios', N'7Km', 3)
INSERT [dbo].[JOURNEY] ([ID], [NAME_], [DISTANCE], [STOPS]) VALUES (2, N'Los Girasoles', N'10Km', 7)
INSERT [dbo].[JOURNEY] ([ID], [NAME_], [DISTANCE], [STOPS]) VALUES (3, N'Santiago de los caballeros', N'30Km', 8)
SET IDENTITY_INSERT [dbo].[JOURNEY] OFF
GO
SET IDENTITY_INSERT [dbo].[TRIPS] ON 

INSERT [dbo].[TRIPS] ([ID], [ID_DRIVER], [ID_BUS], [ID_JOURNEY]) VALUES (2009, 1, 3, 1)
INSERT [dbo].[TRIPS] ([ID], [ID_DRIVER], [ID_BUS], [ID_JOURNEY]) VALUES (2010, 3, 1, 2)
SET IDENTITY_INSERT [dbo].[TRIPS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DRIVERS__BBFC12B934F9F66B]    Script Date: 8/5/2022 4:11:58 PM ******/
ALTER TABLE [dbo].[DRIVERS] ADD UNIQUE NONCLUSTERED 
(
	[IDENTIFICATION_CARD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__JOURNEY__A7BE44DF4AF3DF96]    Script Date: 8/5/2022 4:11:58 PM ******/
ALTER TABLE [dbo].[JOURNEY] ADD UNIQUE NONCLUSTERED 
(
	[NAME_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRIPS]  WITH CHECK ADD  CONSTRAINT [FK_BUS_TRIP] FOREIGN KEY([ID_BUS])
REFERENCES [dbo].[BUSES] ([ID])
GO
ALTER TABLE [dbo].[TRIPS] CHECK CONSTRAINT [FK_BUS_TRIP]
GO
ALTER TABLE [dbo].[TRIPS]  WITH CHECK ADD  CONSTRAINT [FK_DRIVER_TRIP] FOREIGN KEY([ID_DRIVER])
REFERENCES [dbo].[DRIVERS] ([ID])
GO
ALTER TABLE [dbo].[TRIPS] CHECK CONSTRAINT [FK_DRIVER_TRIP]
GO
ALTER TABLE [dbo].[TRIPS]  WITH CHECK ADD  CONSTRAINT [FK_JOURNEY_TRIP] FOREIGN KEY([ID_JOURNEY])
REFERENCES [dbo].[JOURNEY] ([ID])
GO
ALTER TABLE [dbo].[TRIPS] CHECK CONSTRAINT [FK_JOURNEY_TRIP]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_BUS]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DELETE
CREATE PROC [dbo].[SP_DELETE_BUS]
@ID INT
AS
DELETE FROM BUSES
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_DRIVER]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DELETE
CREATE PROC [dbo].[SP_DELETE_DRIVER]
@ID INT
AS
DELETE FROM DRIVERS
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_JOURNEY]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DELETE
CREATE PROC [dbo].[SP_DELETE_JOURNEY]
@ID INT
AS
DELETE FROM JOURNEY
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_TRIP]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DELETE
CREATE PROC [dbo].[SP_DELETE_TRIP]
@ID INT
AS
DELETE FROM TRIPS
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDIT_BUS]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EDIT
CREATE PROC [dbo].[SP_EDIT_BUS]
@ID INT,
@BRAND VARCHAR(50),
@MODEL VARCHAR(50),
@LICENSE_PLATE VARCHAR(50),
@COLOR VARCHAR(20),
@YEAR_ CHAR(4)
AS 
UPDATE BUSES SET BRAND = @BRAND,MODEL = @MODEL, LICENSE_PLATE = @LICENSE_PLATE, COLOR = @COLOR, YEAR_ = @YEAR_ WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDIT_DRIVER]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EDIT
CREATE PROC [dbo].[SP_EDIT_DRIVER]
@ID INT,
@NAME_ VARCHAR(50),
@SURNAME VARCHAR(50),
@BIRTH_DATE DATE,
@IDENTIFICATION_CARD VARCHAR(20)
AS 
UPDATE DRIVERS SET NAME_ = @NAME_,SURNAME = @SURNAME, BIRTH_DATE = @BIRTH_DATE, IDENTIFICATION_CARD = @IDENTIFICATION_CARD WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDIT_JOURNEY]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EDIT
CREATE PROC [dbo].[SP_EDIT_JOURNEY]
@ID INT,
@NAME_ VARCHAR(50),
@DISTANCE NVARCHAR(20),
@STOPS INT
AS 
UPDATE JOURNEY SET NAME_ = @NAME_,DISTANCE = @DISTANCE, STOPS = @STOPS WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDIT_TRIP]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EDIT
CREATE PROC [dbo].[SP_EDIT_TRIP]
@ID INT,
@ID_DRIVER INT,
@ID_BUS INT,
@ID_JOURNEY INT
AS
UPDATE TRIPS SET ID_DRIVER = @ID_DRIVER,ID_BUS = @ID_BUS,ID_JOURNEY =  @ID_JOURNEY
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_BUS]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_FIND_BUS]
@FIND NVARCHAR(20)
AS
SELECT * FROM BUSES
WHERE BRAND LIKE '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_DRIVER]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_FIND_DRIVER]
@FIND INT
AS
SELECT * FROM DRIVERS 
WHERE ID LIKE '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_JOURNEY]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_FIND_JOURNEY]
@FIND INT
AS
SELECT * FROM JOURNEY
WHERE ID LIKE'%'
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_TRIP]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_FIND_TRIP]
@FIND INT
AS
SELECT * FROM TRIPS
WHERE ID LIKE '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_BUS]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT
CREATE PROC [dbo].[SP_INSERT_BUS]
@BRAND VARCHAR(50),
@MODEL VARCHAR(50),
@LICENSE_PLATE VARCHAR(50),
@COLOR VARCHAR(20),
@YEAR_ CHAR(4)
AS
INSERT INTO BUSES VALUES (@BRAND,@MODEL,@LICENSE_PLATE,@COLOR, @YEAR_)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DRIVER]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT
CREATE PROC [dbo].[SP_INSERT_DRIVER]
@NAME_ VARCHAR(50),
@SURNAME VARCHAR(50),
@BIRTH_DATE DATE,
@IDENTIFICATION_CARD VARCHAR(20)
AS
INSERT INTO DRIVERS VALUES (@NAME_,@SURNAME,@BIRTH_DATE,@IDENTIFICATION_CARD)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_JOURNEY]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT
CREATE PROC [dbo].[SP_INSERT_JOURNEY]
@NAME_ VARCHAR(50),
@DISTANCE NVARCHAR(20),
@STOPS INT
AS
INSERT INTO JOURNEY VALUES (@NAME_,@DISTANCE,@STOPS)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_TRIP]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT
CREATE PROC [dbo].[SP_INSERT_TRIP]
@ID_DRIVER INT,
@ID_BUS INT,
@ID_JOURNEY INT
AS
INSERT INTO TRIPS VALUES (@ID_DRIVER,@ID_BUS,@ID_JOURNEY)
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_AVAILABLE_BUSES]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--LIST AVAILABLES BUSES
CREATE PROC [dbo].[SP_LIST_AVAILABLE_BUSES]
AS
SELECT DISTINCT ID,
CONCAT(BRAND, ' ', MODEL) AS 'AUTOBUS',
LICENSE_PLATE, COLOR,YEAR_
FROM BUSES
WHERE ID NOT IN (SELECT ID_BUS FROM TRIPS)
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_AVAILABLE_DRIVER]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--LIST AVAILABLES DRIVERS
CREATE PROC [dbo].[SP_LIST_AVAILABLE_DRIVER]
AS
SELECT DISTINCT ID,
CONCAT(NAME_, ' ', SURNAME) AS 'FULL NAME',
BIRTH_DATE, IDENTIFICATION_CARD
FROM DRIVERS
WHERE ID NOT IN (SELECT ID_DRIVER FROM TRIPS)
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_AVAILABLE_JOURNEY]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LIST AVAILABLES JOURNEYS
CREATE PROC [dbo].[SP_LIST_AVAILABLE_JOURNEY]
AS
SELECT DISTINCT ID,
CONCAT(NAME_, ' ', DISTANCE) AS 'ROUTE',
STOPS
FROM JOURNEY
WHERE ID NOT IN (SELECT ID_JOURNEY FROM TRIPS)
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_BUS]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--LIST BUSES
CREATE PROC [dbo].[SP_LIST_BUS]
AS 
SELECT * FROM BUSES
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_DRIVER]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--LIST DRIVERS
CREATE PROC [dbo].[SP_LIST_DRIVER]
AS 
SELECT * FROM DRIVERS
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_JOURNEY]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--LIST JOURNEYS
CREATE PROC [dbo].[SP_LIST_JOURNEY]
AS 
SELECT * FROM JOURNEY
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_TRIP]    Script Date: 8/5/2022 4:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LIST
CREATE PROC [dbo].[SP_LIST_TRIP]
AS 
SELECT T.ID AS TRIP_ID, D.ID AS ID_DRIVER, CONCAT(D.NAME_, ' ',D.SURNAME) AS 'DRIVER', D.IDENTIFICATION_CARD AS IDENTIFICATION , B.ID AS ID_BUS,B.MODEL AS MODEL, B.BRAND AS BRAND ,J.ID AS ID_JOURNEY, J.NAME_ AS JOURNEY_NAME, J.DISTANCE AS DISTANCE, J.STOPS AS STOPS FROM TRIPS T
INNER JOIN DRIVERS D ON T.ID_DRIVER = D.ID
INNER JOIN BUSES B ON T.ID_BUS = B.ID
INNER JOIN JOURNEY J ON T.ID_JOURNEY  = J.ID
GO
USE [master]
GO
